name: Cypress Tests

on:
  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: Run Cypress Tests
        run: npx cypress run
        env:
          BASE_URL: ${{ secrets.BASE_URL }}
          STANDARD: ${{ secrets.STANDARD }}
          LOCKED_OUT: ${{ secrets.LOCKED_OUT }}
          PROBLEM: ${{ secrets.PROBLEM }}
          PERFORMANCE_GLITCH: ${{ secrets.PERFORMANCE_GLITCH }}
          ERROR: ${{ secrets.ERROR }}
          VISUAL: ${{ secrets.VISUAL }}
          INVALID: ${{ secrets.INVALID }}
          PASSWORD: ${{ secrets.PASSWORD }}
